* {
    box-sizing: border-box;
}
body {
	font: 400 1em/1.5 "Open Sans", sans-serif;
	text-align: center;
}
.head, .foot {
	border:1px solid grey;
	border-radius: 5px;
	color: #8900b3;
	background-image: linear-gradient(to bottom, #e9c2fb, #faa1fd);
	text-align: center;
}
.head {
	margin-bottom: 1.5em;
}
.nav {
	text-align: center;
}

.block {
	display: block;
	border: 1px solid grey;
	border-radius: 5px;
    margin: .5em;
    background-image: linear-gradient(to bottom, #e9c2fb, #faa1fd);
}
.block img {
	height: 5em;
}
.mminfo {
	display: block;
	border: 1px solid grey;
	border-radius: 5px;
    background-color: lightgrey;
    max-width: 30em;
    margin: 1em auto;
}
form {
    margin-bottom: 1em;
    border: 1px solid #aaa;
    border-radius: .5em;
    padding: 1em;
    margin: 1.5em auto;
    width: 30%;
    text-align: left;
}
table {
	margin: 0 auto;
	padding-bottom: 2em;
}
table td, #customers th {
  border: 1px solid #ddd;
  padding: 5px;
}
table tr:nth-child(even){background-color: #F0F8FF;}

table tr:hover {background-color: #ddd;}

table th {
	background-color: #faa1fd;
	color: white;
}
input[type=text], input[type=email], input[type=password], textarea {
    display: block;
    width: 96%;
}

input, select, textarea {
    margin: 0 1em .5em 0;
}
.button {
	background-color: #8900b3;
	color: white;
	display: inline-block;
	border: 1px solid grey;
	border-radius: 3px;
}
img {
	max-width: 100%;
	height: auto;
}
.mynd {
	max-width: 300px;
}
.karfa {
	margin-top: 2em;
	max-width: 60px;
}
@media screen and (min-width: 48em) {  
	body {  
		margin: 0 auto;
	}
	.col-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2em;
		max-width: 60em;
		margin: 0 auto;
		padding: 0;
	}
}